
body { 
  background: url("/background.jpg"); 
background-position: center center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;

}

#header
{
 text-align: center;
 height: 100px;
}

#logo h1 /*forget me not title*/
{
  display: inline-block;
  letter-spacing: 0.1em;
	font-size: 2.6em;
	font-weight: 700;
	color: #2C383B;
	padding-right: 0.50em;
	border-right: 1px solid rgba(0,0,0,.3);
	font-family: "Poiret One", cursive;
}

#logo span /*bill reminder app heading*/
{
  position: relative;
  top: -7px;
	padding-left: 1.50em;
	letter-spacing: 0.1em;
  font-size: 22px;
  color: #2C383B;
  font-family: 'Poiret One', cursive;
 
}

