body { 
background-image: url("/background.jpg"); 
background-position: center center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
}


#header
{
 text-align: center;
 height: 100px;
 margin-bottom: 30px;
}

.table {
  margin: auto;
  margin-top: 65px;
   max-width: 600px;
   background: rgb(163, 203, 221);
   font-family: "Poiret One", cursive;
   font-size: medium;
   margin-bottom: 3em;
   
 }

#logo h1 /*forget me not title*/
{
  display: inline-block;
  letter-spacing: 0.1em;
	font-size: 2.6em;
	font-weight: 700;
	color: #2C383B;
	padding-right: 0.50em;
	border-right: 1px solid rgba(0,0,0,.3);
  font-family: "Poiret One", cursive;
  margin-top: 30px;
}

#logo span /*bill reminder app heading*/
{
 
  top: -7px;
	padding-left: 1.50em;
	letter-spacing: 0.1em;
  font-size: 22px;
  color: #2C383B;
  font-family: 'Poiret One', cursive;
 
}

.btn-circle {
  text-align: center;
  display: inline-block;
  width: 55px;
  height: 55px;
  border-radius: 40px;
  font-size: 1.4em;
  background-color: #FFD700;
  border-color: #DAA520;
  
}

.car:hover {
  display: inline-block;
}

.house:hover{
  display: inline-block;
}

.insurance:hover{
  display: inline-block;
}

.phone:hover{
  display: inline-block;
}

.broadband:hover{
  display: inline-block;
}

.other:hover{
  display: inline-block;
}

.container {
font-family: "Poiret One", cursive;
font-size: larger;
margin-bottom: -30px;
}

.btn-primary {
  background-color: rgb(97, 182, 221);
  font-weight: bold;
  border: none;
  font-size: small;
  
}



.AddForm{
  margin: 0 auto;
  max-width: 600px;
  height: auto;
  background: -webkit-linear-gradient(left, rgb(163, 203, 221) 30%, rgba(222,222,222,0) 50%, rgba(222,222,222,0) 80%, rgba(222,222,222,1) 100%);
}

.col {
  font-weight: bolder;
}

.fas-fa-sort-up {
  display: inline;
}